# Ignored paths and directories
## pycharm project path
.idea

## ignore diffusers files
**/my_pipeline

## temporal __pycache__/
**/__pycache__/

## .ipynb_checkpoints/
**/.ipynb_checkpoints

## ignores vim temporal files
**/*.swp

## ignores dataset files
**/datasets/ecgen-radiology
Extract_dataset.csv

## ignores model files
**/CV_Data.csv
**/Test_Data.csv
**/Train_Data.csv
**/brucechou1983_CheXNet_Keras_0.3.0_weights.h5
**/Image_features_attention.pickle

## temporal files for local tex build
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/main.pdf
**/*.snm
**/*.synctex.gz
**/*.toc
**/_minted-main
**/*.bbl
**/*.blg
**/*.out
**/comment.cut
